@charset "utf-8";

p, em, li, h1, h2, h3, h4, h5, h6, td, input, textarea {
	font-family: "Dejavu Sans", Arial;
	font-weight: lighter;
	line-height: 1.5em;
	word-spacing: 0.1em;
	margin: 0.3em;
	color: #111;
	/* max-width: 80em; */
}

h1, h2 { /* Nur für Kommentare und Struktur */
  display: none;
}

html, body {
  margin: 0em;
  height: 100%;
}


#head {
  width: 100%;
  background-color: lightblue;
  /* min-height: 45%; */
  text-align: center;
}

#head > * {
	/* padding: 10%; */
	font-size: 1.3em;
}

#content {
  padding: 0% 5%;
  margin: auto;
  min-height: 50em;
}

#extra {
	text-align: center;
	width: 60%;
	margin: auto;
	padding: 4em;
}

#dauerbesucher > div {
  float: left;
  width: 25em;
  min-height: 11em;
  margin: 1em;
  padding: 0.5em;
  border-radius: 1em;
  background-color: #eef;
}

h3, h4, h5 {
  font-size: 1.5em;
}


.level1, .level2 {
  clear: left;
}

#foot {
  padding: 2%;
  margin: auto;
  text-align: center;
	background: lightblue;
}



a { color: blue; text-decoration: none; }
a:visited { color: darkblue; }
a:hover { color: blue; text-decoration: underline; }
